body{
    font-family: sans-serif;
    background-color: #011627;
    color: #fdfffc;
    text-align: center;
    border: 40px solid #2ec486;
    border-top: 0px;
    margin: 0px;
}
p{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;

}
form{
    font-size: 1.5em;
    margin: 20px;
}
#sub{
    background-color: #ff9f1c;
    height: 80px;
    margin: 10px;
    font-size: 1.5em;
    border-radius: 25px;
}